.sidenav{
    top: 60px;
    background-color: rgb(231, 231, 231);
    width: 250px;
}
header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}